.main_left{
    width: 20%;
    height: 100%;
    background-color: rgb(60, 172, 172);
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.datebox_main{
    display: flex;
    border-bottom: 1px solid lightgrey;
}

.datebox{
    background-color: rgb(217, 217, 217);
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.datebox h3{
    color: rgb(196, 11, 11);
    margin-bottom: 0px;
}

.datebox p{
    margin-top: 0px;
}

.timebox{
    /* background-color: rgb(60, 172, 172); */
    margin-right: 5px;
    display: flex;
    width: 90px;
}

.timebox_main{
    padding: 5px;
    margin-block: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}